# 忽略 .env 文件
.venv

firebase-key.json

audio_runtime/asr_record.py

client/package.json
client/package-lock.json

server/log

server/app/__pycache__
server/app/logger/__pycache__
server/app/routes/__pycache__


audio_runtime/__pycache__

.vscode

package.json
package-lock.json
node_modules
